*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
header{
    margin-bottom: 10px;
}
header img{
    margin-top: 10px;
    width: 70px;
    height: 70px;
    margin-bottom:5px;
}
.header-title--container h1{
    font-size: 2.6rem;
}
.header-title--container p{
    font-size: 1.8rem;
}
.main-container h2{
    font-size: 2.6rem;
}
.main-container p{
    font-size: 1.8rem;
    line-height:22px ;
}
.main-container--title{
    width: 100%;
    padding: 15px;
}
.main-container--nosotros{
    width: 100%;

}
.container--mision, .container--vision{
    display: inline-block;
    width: 49%;
    vertical-align: top;
    max-height: 420px;
}
.main-container .backgroundImg,.main-container .backgroundImg2{
    display: inline-block;
    /*width: 48%;*/
    border-radius: 5px;
   /* margin: 15px 5px;*/
    width: 45%;
    margin:10px 10px;
}
.Servicio-1,.Servicio-2,.Servicio-3,.Servicio-4,.Servicio-5{
    display: inline-block;
    width: 45%;
    vertical-align: top;
    height: 280px;
    margin: 10px 5px;
}
.main-container--services h2,.main-container--services p{
    display: block;
    width: 100%;
    height: 85px;
    margin: 0 auto;
}
.main-container--services h2{
    font-size:1.7rem;
    line-height: 18px;
    display: inline-block;
    vertical-align: bottom;
}
    /*
.main-container--services ul{
    margin: 0 auto;
}
.main-container--services ul li {
    align-items: unset;
    vertical-align:top ;
    width: 28%;
    list-style: none;
     background: #1E1E1E;
    border-radius: 8px;
   height: 520px;
   min-width: 320px;
    display: inline-block;
    margin: 10px 10px;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(89,73,30,0.16);
}
.main-container--services ul li h2{
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
    line-height: 25px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin-bottom:15px;
    width: 100%;
    background-color: #FFB200;
}
.main-container--services ul li h3{
    font-size: 2rem;
    color: white;
    text-align: left;
    margin-bottom: 10px;
}
.main-container--services ul li p{
    font-size: 1.7rem;
    text-align: justify;
    line-height: 20px;
    color: white;
}
*/
.container-services--galeria{
    margin:8px auto;
    text-align: center;
}
.container-services--galeria div{
    display: inline-block;
    width: 45%;
    margin:10px 10px;
    border-radius: 5px;
}
.main-container--iconos img{
    width: 12%;
    max-width: 43px;
}
.img-services{
    width: 100%;
    vertical-align: bottom;
    
    border-radius: 5PX;
    margin-top: 5px;
}
.main-container--referencias{
    margin: 0 auto;
    text-align: center;
}
.main-container--referencias h3{
    font-size: 2.5rem;
    font-weight: bold;
text-align: center;
margin-top: 20px;
}
    .main-container--referencias img{
        width: 10%;
        margin:  10px 20px;
        max-width: 120px;
    }